:root {
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --dark-background: #2f303a;
  --light-background: #f5f4fa;
  --hero-button-background: #0560aa;
  --footer-address-color: rgba(255, 255, 255, 0.6);
  --footer-address-background:rgba(255, 255, 255, 0.1);
  --border-color: #eeeeee;
  --icon-color:#AFB1B8;
  --backraund-name:rgba(47, 48, 58, 0.8);
  --after-icon:rgba(33, 150, 243, 1);
  --background-portfolio:rgba(33, 150, 243, 0.9) ;
  --backdrop:rgba(0, 0, 0, 0.2);
  --close-icon-color:#000000;
  --border-modal-form-input:rgba(33, 33, 33, 0.2);
  --modal-messeage:rgba(117, 117, 117, 0.5);
  --background-modal-button:#188CE8;
  --modal-button-shadow:rgba(0, 0, 0, 0.15);
  --footer-border-messeage:rgba(255, 255, 255, 0.3);
}

a {
  display: block;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--white-color);
  color: var(--primary-text-color);
}

ul {
  list-style: none;
}

.list {
  margin: 0;
  padding: 0;
  list-style: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  width: 100%;
}

.container {
  min-width: 320px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
  min-width: 320px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-nav__logo {
  font-family: Raleway;
  color: var(--accent-color);
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}

.header-nav__label {
  color: var(--primary-text-color);
}

.main-menu {
  display: none;
}

@media screen and (min-width: 768px) {
  .main-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0px 0px 0px 93px;
    padding: 0;
  }
  .main-menu__item {
    position: relative;
  }
  .main-menu__item:not(:last-child) {
    margin-right: 50px;
  }
  .main-menu__link {
    padding-top: 32px;
    padding-bottom: 32px;
    display: block;
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    text-decoration: none;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 250ms;
            transition-duration: 250ms;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .main-menu__link:hover, .main-menu__link:focus {
    color: var(--after-icon);
  }
  .main-menu__link--active {
    color: var(--after-icon);
  }
  .main-menu__link--active::after {
    display: block;
    content: "";
    background: var(--after-icon);
    border-radius: 2px;
    position: absolute;
    width: 100%;
    height: 4px;
    bottom: 0;
  }
}

.menu-contacts {
  display: none;
}

@media screen and (min-width: 768px) {
  .menu-contacts {
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (min-width: 1200px) {
  .menu-contacts {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.burger-bth {
  position: absolute;
  top: 10px;
  right: 15px;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.burger-bth:hover .burger-bth__icon,
.burger-bth:focus .burger-bth__icon {
  fill: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .burger-bth {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .burger-bth {
    display: none;
  }
}

.burger-bth__icon {
  fill: var(--primary-text-color);
  width: 19px;
  height: 19px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-contacts__info {
  color: var(--title-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-contacts__info:focus, .menu-contacts__info:hover {
  color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .menu-contacts__info {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14286;
    letter-spacing: .02em;
    text-decoration: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .menu-contacts__item:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .menu-contacts__item:not(:last-child) {
    margin-right: 50px;
  }
}

.menu-contacts-icon {
  fill: currentColor;
  margin-right: 10px;
}

.menu-contacts .menu-contacts-icon:focus,
.menu-contacts .menu-contacts-icon:hover {
  color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .menu-contacts-icon {
    margin-right: 10px;
    fill: currentcolor;
  }
}

.hero__title {
  margin: 0;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  letter-spacing: .06em;
  text-transform: uppercase;
  max-width: 360px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  color: var(--white-color);
  color: var(--white-color);
}

@media screen and (min-width: 1200px) {
  .hero__title {
    min-width: 696px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: .06em;
  }
}

.hero__button {
  color: var(--white-color);
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.87;
  background: var(--accent-color);
  font-weight: bold;
  cursor: pointer;
  padding: 10px 31px;
  border: 1px solid transparent;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__button:hover, .hero__button:focus {
  background-color: var(--hero-button-background);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--backdrop);
  opacity: 1;
  -webkit-transition: all 1250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 1250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow-y: scroll;
}

@media screen and (min-width: 320px) {
  .backdrop {
    min-width: 100vw;
    min-height: 100vh;
  }
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.9);
          transform: translate(-50%, -50%) scale(0.9);
}

.modal {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 40px;
  top: 50%;
  left: 50%;
  min-width: 320px;
  min-height: 480px;
  background: var(--white-color);
  -webkit-transition: -webkit-transform 1250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 1250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 1250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 1250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 1250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  border-radius: 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    min-width: 528px;
  }
}

.modal__button {
  background-color: var(--white-color);
  position: absolute;
  top: 8px;
  right: 8px;
  border-radius: 50%;
  background-color: var(--primary-bg-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0px;
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: var(--close-icon-color);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__button:hover, .modal__button:focus {
  color: var(--accent-color);
  cursor: pointer;
}

.modal__icon {
  background: #FFFFFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  fill: currentColor;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form_paragraf {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: .03em;
  margin-bottom: 12px;
  text-align: center;
  margin: 0;
  margin-bottom: 12px;
}

.form__label {
  font-size: 12px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: #757575;
  text-align: left;
  margin-bottom: 10px;
}

.form__wrapper {
  position: relative;
  margin-top: 4px;
  display: block;
}

.form__input {
  width: 100%;
  border: 1px solid var(--border-modal-form-input);
  border-radius: 4px;
  height: 40px;
  padding-left: 40px;
  margin-top: 4px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__input:focus {
  border-color: var(--accent-color);
  outline: none;
}

.form__input:focus + .form__icon {
  fill: var(--accent-color);
}

.form__icon {
  display: block;
  position: absolute;
  top: 50%;
  left: 12px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__messeage {
  width: 100%;
  height: 120px;
  border: 1px solid var(--border-modal-form-input);
  border-radius: 4px;
  resize: none;
  margin-top: 4px;
  padding: 12px 16px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__messeage:focus {
  outline: none;
  border-color: var(--accent-color);
}

.form__text {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.form__cheackbox {
  color: var(--title-text-color);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: .03em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}

.form__cheackbox::before {
  content: "";
  display: block;
  width: 16px;
  height: 15px;
  border: 2px solid var(--primary-text-color);
  border-radius: 2px;
  margin-right: 8px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__text:checked +
.form__cheackbox::before {
  background-image: url(../images/icon.svg/vector2.svg);
  background-color: var(--accent-color);
  background-size: contain;
  border-color: var(--accent-color);
}

@media screen and (min-width: 1200px) {
  .form__cheackbox {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: .03em;
  }
}

.form__link {
  color: var(--after-icon);
}

.form__button {
  width: 200px;
  height: 50px;
  background: var(--background-modal-button);
  -webkit-box-shadow: 0px 4px 4px var(--modal-button-shadow);
          box-shadow: 0px 4px 4px var(--modal-button-shadow);
  border-radius: 4px;
  color: var(--white-color);
  border: 1px solid transparent;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  padding: 0;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__button:hover, .form__button:focus {
  background-color: var(--hero-button-background);
}

.burger-menu {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  background-color: var(--white-color);
  width: 100vw;
  min-width: 320px;
  height: 100vh;
  min-height: 100%;
  padding: 48px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 768px) {
  .burger-menu {
    display: none;
  }
}

.bth-is-hidden {
  display: none;
}

.menu-bth {
  position: absolute;
  top: 10px;
  right: 15px;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.menu-bth:hover .menu-bth-icon,
.menu-bth:focus .menu-bth-icon {
  fill: var(--accent-color);
}

.menu-bth-icon {
  fill: currentColor;
  width: 19px;
  height: 19px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-mobile {
  margin-top: 10px;
  margin-right: auto;
}

.menu-mobile__list {
  margin: 0;
  padding: 0;
}

.menu-mobile__sublist:not(:last-child) {
  margin-bottom: 32px;
}

.menu-mobile__link {
  text-decoration: none;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: .02em;
}

.menu-mobile__link--active {
  color: var(--accent-color);
}

.menu-mobile__contacts {
  margin-top: auto;
  margin-bottom: 10px;
  margin-right: auto;
}

.menu-mobile__phone {
  display: block;
  color: var(--accent-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17647;
  letter-spacing: .02em;
  margin-bottom: 32px;
}

.menu-mobile__email {
  display: block;
  color: var(--main-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16667;
  letter-spacing: .02em;
  margin-bottom: 64px;
}

.menu-mobile__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
}

.menu-mobile__socials-link:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  padding-right: 10px;
}

.menu-mobile__socials-link {
  color: var(--accent-color);
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22222;
  letter-spacing: .02em;
}

@media screen and (max-width: 767px) {
  .about-as__sublist:not(:first-child) {
    margin-top: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .about-as__sublist {
    margin-bottom: 30px;
    margin-right: 30px;
    -ms-flex-preferred-size: calc(768px / 2 - 30px);
        flex-basis: calc(768px / 2 - 30px);
  }
  .about-as__sublist:nth-child(2n) {
    margin-right: 0px;
  }
  .about-as__sublist:nth-last-child(-n+2) {
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .about-as__sublist {
    margin-right: 30px;
    -ms-flex-preferred-size: calc(1200px / 4 - 30px);
        flex-basis: calc(1200px / 4 - 30px);
  }
  .about-as__sublist:nth-child(4n) {
    margin-right: 0px;
  }
  .about-as__sublist:nth-last-child(-n+2) {
    margin-bottom: 0px;
  }
}

.about-as__icon {
  background-color: var(--light-background);
  background-size: cover;
}

.about-as__background {
  width: 100%;
  background-color: var(--light-background);
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  height: 120px;
}

.about-as__title {
  font-weight: 700;
  color: var(--primary-text-color);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  margin-top: 0;
  margin-bottom: 10px;
  text-transform: uppercase;
}

@media screen and (max-width: 767px) {
  .about-as__title {
    text-align: center;
  }
}

.about-as__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: var(--title-text-color);
  margin: 0;
  letter-spacing: 0.03em;
}

.activity__name {
  text-align: center;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  color: var(--primary-text-color);
  margin-top: 0px;
  margin-bottom: 50px;
}

.box__sublist {
  position: relative;
  z-index: -1;
}

.box__sublist:not(:last-child) {
  margin-right: 30px;
}

.box__label {
  width: 370px;
  height: 70px;
  position: absolute;
  bottom: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.13;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
  background-color: var(--backraund-name);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.box__name {
  margin: 0;
}

.team__name {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  letter-spacing: .03em;
  text-align: center;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .team__name {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16667;
    letter-spacing: .03em;
    margin: 0px;
    margin-bottom: 50px;
  }
}

.employees {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.employees__sublist {
  -ms-flex-preferred-size: calc(480px / 1 - 30px);
      flex-basis: calc(480px / 1 - 30px);
  background-color: var(--white-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (min-width: 768px) {
  .employees__sublist {
    -ms-flex-preferred-size: calc(768px / 2 - 30px);
        flex-basis: calc(768px / 2 - 30px);
  }
}

@media screen and (min-width: 1200px) {
  .employees__sublist {
    -ms-flex-preferred-size: calc(1200px / 4 - 30px);
        flex-basis: calc(1200px / 4 - 30px);
  }
}

.card {
  padding-top: 30px;
  padding-bottom: 24px;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .card {
    padding-bottom: 30px;
  }
}

.card__name {
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  color: var(--primary-text-color);
  margin: 0px;
}

.card__profession {
  text-align: center;
  font-size: 16px;
  line-height: 1.18;
  color: var(--title-text-color);
  margin: 10px 0px 0px 0px;
}

.social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 44px;
  padding: 0px;
  border-radius: 44px;
  margin-top: 16px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-links__item {
  width: 44px;
  height: 44px;
  margin: 0;
}

.social-links__item:not(:last-child) {
  margin-right: 10px;
}

.social-links__link {
  width: 100%;
  height: 100%;
  background-color: var(--white-color);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-links__link:hover, .social-links__link:focus {
  background-color: var(--accent-color);
}

.social-links__icon {
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: var(--icon-color);
}

.social-links__link:hover .social-links__icon,
.social-links__link:focus .social-links__icon {
  fill: var(--white-color);
}

.client-nav__name {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  letter-spacing: .03em;
  text-align: center;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .client-nav__name {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: .03em;
    margin-bottom: 50px;
  }
}

.client-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
  margin: 0;
  gap: 30px;
}

.client-list__sublist {
  height: 92px;
}

.client-list__sublist {
  -ms-flex-preferred-size: calc(480px / 1 - 30px);
      flex-basis: calc(480px / 1 - 30px);
  height: 92px;
}

@media screen and (min-width: 480px) {
  .client-list__sublist {
    -ms-flex-preferred-size: calc(480px / 2 - 30px);
        flex-basis: calc(480px / 2 - 30px);
  }
}

@media screen and (min-width: 768px) {
  .client-list__sublist {
    -ms-flex-preferred-size: calc(768px / 3 - 30px);
        flex-basis: calc(768px / 3 - 30px);
  }
}

@media screen and (min-width: 1200px) {
  .client-list__sublist {
    -ms-flex-preferred-size: calc(1200px / 6 - 30px);
        flex-basis: calc(1200px / 6 - 30px);
  }
}

.client-list__icon {
  fill: var(--icon-color);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-list__link {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: var(--white-color);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid var(--icon-color);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-list__link:hover, .client-list__link:focus {
  border-color: var(--accent-color);
}

.client-list__link:hover .client-list__icon,
.client-list__link:focus .client-list__icon {
  fill: var(--accent-color);
}

.footer-address {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

@media screen and (min-width: 768px) {
  .footer-address {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

@media screen and (min-width: 1200px) {
  .footer-address {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.footer-contacts {
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .footer-contacts {
    margin-right: 70px;
    text-align: left;
  }
}

.footer-contacts__logo {
  font-family: Raleway, sans-serif;
  color: var(--accent-color);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16667;
  letter-spacing: .03em;
  text-decoration: none;
}

@media screen and (min-width: 1200px) {
  .footer-contacts__logo {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: .03em;
  }
}

.footer-contacts__label {
  color: var(--white-color);
}

.footer-contacts__address {
  margin-top: 20px;
}

@media screen and (min-width: 1200px) {
  .footer-contacts__address {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: left;
  }
}

.footer-contacts__text {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  color: var(--white-color);
  font-style: normal;
  margin: 0px;
}

.footer-contacts__link {
  color: var(--footer-address-color);
  text-decoration: none;
  font-style: normal;
  display: block;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-top: 8px;
}

.footer-contacts__link:hover, .footer-contacts__link:focus {
  color: var(--accent-color);
}

@media screen and (min-width: 1200px) {
  .footer-contacts__link {
    margin-top: 9px;
  }
}

.footer-links {
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .footer-links {
    text-align: left;
    margin-right: 93px;
  }
}

.footer-links__name {
  margin: 0;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  top: calc(-20px - 16px);
  text-transform: uppercase;
  color: var(--white-color);
}

.footer-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  padding: 0px;
  margin: 0px;
}

.footer-list__item {
  width: 44px;
  height: 44px;
}

.footer-list__link {
  width: 100%;
  height: 100%;
  background-color: var(--footer-address-background);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-list__link:hover, .footer-list__link:focus {
  background-color: var(--accent-color);
}

.footer-list__icon {
  fill: var(--white-color);
}

.footer-mailing {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .footer-mailing {
    margin-top: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-mailing {
    width: auto;
    margin-top: 0px;
  }
}

.footer-mailing__name {
  display: block;
  color: var(--white-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14286;
  letter-spacing: .03em;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 20px;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .footer-mailing__name {
    text-align: left;
  }
}

.footer-mailing__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 1200px) {
  .footer-mailing__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.footer-mailing__messeage {
  display: block;
  width: 100%;
  height: 50px;
  color: var(--white-color);
  border: 1px solid var(--footer-border-messeage);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-filter: drop-shadow(0px 4px 4px) var(--modal-button-shadow);
          filter: drop-shadow(0px 4px 4px) var(--modal-button-shadow);
  border-radius: 4px;
  background-color: var(--dark-background);
  resize: none;
  padding-top: 15px;
  padding-left: 16px;
  margin-right: 12px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: .03em;
}

@media screen and (min-width: 480px) {
  .footer-mailing__messeage {
    width: 450px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1200px) {
  .footer-mailing__messeage {
    width: 358px;
    margin: 0;
  }
}

.footer-mailing__button {
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 200px;
  height: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: var(--accent-color);
  -webkit-box-shadow: 0px 4px 4px var(--modal-button-shadow);
          box-shadow: 0px 4px 4px var(--modal-button-shadow);
  border-radius: 4px;
  border: 1px solid transparent;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.81;
  letter-spacing: 0.06em;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--white-color);
  padding: 0;
}

.footer-mailing__button:hover, .footer-mailing__button:focus {
  background-color: var(--hero-button-background);
}

@media screen and (min-width: 1200px) {
  .footer-mailing__button {
    margin-top: 0;
    margin-left: 12px;
  }
}

.footer-mailing__icon {
  fill: currentColor;
  margin-left: 10px;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .nav {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .nav {
    margin-bottom: 50px;
  }
}

.nav__item {
  background: var(--white-color);
}

.nav__item:not(:last-child) {
  margin-right: 8px;
  margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
  .nav__item:not(:last-child) {
    margin-bottom: 0px;
  }
}

.nav__button {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: var(--light-background);
  padding: 6px 22px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__button:hover, .nav__button:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
  cursor: pointer;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.nav__button--active {
  color: var(--white-color);
  background-color: var(--accent-color);
}

.project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  --container-items: 1;
}

.project .list {
  margin-right: 0px;
}

.project__sublist {
  background: var(--white-color);
  -ms-flex-preferred-size: calc(480px / 1 - 30px);
      flex-basis: calc(480px / 1 - 30px);
}

@media screen and (min-width: 768px) {
  .project__sublist {
    -ms-flex-preferred-size: calc(768px / 2 - 30px);
        flex-basis: calc(768px / 2 - 30px);
  }
}

@media screen and (min-width: 1200px) {
  .project__sublist {
    -ms-flex-preferred-size: calc(1200px / 3 - 30px);
        flex-basis: calc(1200px / 3 - 30px);
  }
}

.project__link {
  text-decoration: none;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project__link:hover, .project__link:focus {
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.project__link:hover .project__overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.project__img {
  position: relative;
  top: 0;
  right: 0;
  overflow: hidden;
}

.project__overlay {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  background-color: var(--background-portfolio);
  color: var(--white-color);
  top: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: hidden;
}

.project__description {
  margin: auto;
}

@media screen and (min-width: 480px) {
  .project__description {
    margin: 0;
    padding: 73px 24px;
  }
}

@media screen and (min-width: 768px) {
  .project__description {
    margin: 0;
    padding: 49px 24px;
  }
}

@media screen and (min-width: 768px) {
  .project__description {
    margin: 0;
    padding: 63px 24px;
  }
}

.project__name {
  padding: 20px 24px;
  border-right: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
}

.portfolio__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  color: var(--primary-text-color);
  margin-top: auto;
  margin-bottom: 4px;
  padding-top: 0px;
}

.portfolio__text {
  font-size: 16px;
  line-height: 30px;
  color: var(--title-text-color);
  margin: 0px;
}

.header {
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: var(--white-color);
  border-bottom: 1px solid #ececec;
}

@media screen and (min-width: 768px) {
  .header {
    padding: 0px;
    height: 80px;
  }
}

@media screen and (min-width: 1200px) {
  .header {
    padding-top: var(--header-top-margin);
    padding-bottom: var(--header-bottom-margin);
  }
}

.hero {
  min-width: 320px;
  width: 100%;
  height: 400px;
  margin: 0 auto;
  text-align: center;
  padding: 118px 0;
  background: var(--dark-background);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.25)), to(rgba(0, 0, 0, 0.25))), url("../images/hero.jpg.jpg");
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("../images/hero.jpg.jpg");
}

@media not all, (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.25)), to(rgba(0, 0, 0, 0.25))), url("../images/hero@2x.jpg.jpg");
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("../images/hero@2x.jpg.jpg");
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero-table.jpg.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-table.jpg.jpg");
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero-table@2x.jpg.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-table@2x.jpg.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    height: 600px;
    max-width: 1600px;
    padding: 200px 0;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/backgroun-title.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/backgroun-title.jpg");
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/backgroun-title@2x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/backgroun-title@2x.jpg");
  }
}

.about-as {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px;
}

.activity {
  padding: 0px;
  padding-bottom: 94px;
}

@media screen and (max-width: 1199px) {
  .activity {
    display: none;
  }
}

.team {
  background: var(--light-background);
  margin-left: auto;
  margin-right: auto;
}

.footer {
  background: var(--dark-background);
  padding-bottom: 60px;
  padding-top: 60px;
}
/*# sourceMappingURL=main.css.map */