

@media screen and (max-width: 767px){
  .about-as__sublist:not(:first-child){
    margin-top: 30px;
}
}

@media screen and (min-width: 768px) and (max-width:1200px){
  .about-as__sublist{
    margin-bottom: 30px;
    margin-right: 30px;
    flex-basis: calc(768px / 2 - 30px);
    &:nth-child(2n) {
      margin-right: 0px;
    }
    &:nth-last-child(-n+2) {
      margin-bottom: 0px;
    }
}
}

@media screen and (min-width: 1200px){
  .about-as__sublist{
    margin-right: 30px;
    flex-basis: calc(1200px / 4 - 30px);
    &:nth-child(4n) {
      margin-right: 0px;
    }
    &:nth-last-child(-n+2) {
      margin-bottom: 0px;
    }
}
}







  
 