.footer-mailing{
    width: 100%;
    
  }

  @media screen and (min-width: 768px){
    .footer-mailing{
      margin-top: 60px;
  }
  }

  @media screen and (min-width: 1200px){
    .footer-mailing{
      width: auto;
      margin-top: 0px;
      padding-top: 12px;
  }
  }
